body {
    margin: 0px;
}

.page {
    width: 100%;
}

nav {
    width: 100%;
}

.nav {
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    color: white;
}

.row {
    width: 100%;
    display: flex;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-8 {
    width: 12.5%;
}

.col-75 {
    width: 75%;
}

.col-875 {
    width: 87.5%;
}

footer {
    width: 100%;
}

.foot {
}

.box {
    margin: 5px;
    padding: 5px;
}

.nav, .col-2, .col-3, .col-4, .col-8, .col-75, .col-875, .foot{
    height: 100px;
    background-color: gray;
    margin: 5px;
    padding: 5px;
}